body {
  background-color: grey;
  font-family: Arial, Helvetica, sans-serif;
}

#container {
  width: 800px;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
}

#header {
  text-align: center;
  background-color: slategrey;
  color: white;
  padding: 10px;
}

#nav {
  float: left;
  width: 160px;
  background-color: lightgrey;
  padding: 10px;
}

#main {
  float: right;
  width: 600px;
  padding: 10px;
}

#footer {
  clear: both;
  text-align: right;
  background-color: lightgrey;
}
